body {
    margin: 0px;
    width: 300px;
}

h1, img {
    display: inline;
    vertical-align: middle;
    padding: 3px
}

header {
    text-align: center;
    flex-direction: row;
    padding: 5%;
}

.create-bg {
    background-color: #e1e6e7;
    border-top: 1px solid rgb(175, 180, 180);
    border-bottom: 1px solid rgb(175, 180, 180);

    display: flex;
    justify-content: center;

    padding: 5% 0;
}

.create {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
}

input, select {
    height: 30px;
    border-radius: 5px;
    border-width: 0px;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.meeting {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* border: 1px solid black; */
    padding: 10px 0;
}

.meeting > h3 {
    margin: 0px 10px 0px 0px;
}

.text-input {
    box-sizing: border-box;
    width: 100%;
}

.schedule {
    display: flex;
    justify-content: space-between;
    width: 100%;

    /* border: 1px solid black; */
    padding: 10px 0;
}

.schedule > select, input {
    box-sizing: border-box;
}

.controls {
    padding: 10px 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.repeat {
    display: flex;
    align-items: center;
}

.controls > button {
    height: 30px;
}

h3 {
    text-align: center;
}

.user-schedule-bg {
    background-color: #e1e6e7;
    border-top: 1px solid rgb(175, 180, 180);
    border-bottom: 1px solid rgb(175, 180, 180);

    max-height: 200px;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5% 0;
}

.user-schedule {
    width: 95%;
    font-size: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-scheduled-alarms {
    width: 70%;
    text-align: center;
}

.scheduled-alarm {
    width: 80%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3%
}

.scheduled-alarm > button { 
    padding: 0;
    border: none;
    background: none;
}

.scheduled-alarm-info {
    display: flex;
    align-items: center;
}

.repeat-icon {
    width: 13px;
    margin-left: 5px;
}

.trash-icon {
    width: 15px;
}

footer {
    padding: 5%;
    text-align: center;
}

button {
    cursor: pointer;
}

/* a:visited {
    text-decoration: none;
} */